<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>HelloWorldServlet</display-name>
    <servlet>
        <servlet-name>helloworld</servlet-name>
        <servlet-class>com.hello.servlets.Hello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>helloworld</servlet-name>
        <url-pattern>/hiddenservlets/helloworld.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>startservlet</servlet-name>
        <servlet-class>com.hello.servlets.StartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>startservlet</servlet-name>
        <url-pattern>/startservlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resultsservlet</servlet-name>
        <servlet-class>com.hello.servlets.ResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resultsservlet</servlet-name>
        <url-pattern>/hiddenservlets/ResultsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>startservlet2</servlet-name>
        <servlet-class>com.hello.servlets.StartServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>startservlet2</servlet-name>
        <url-pattern>/startservlet2.do</url-pattern>
    </servlet-mapping>
</web-app>